* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.button:hover {
  background-color: #FF8F73
}
.button {
  color: white;
  background-color: #FF7A59;
  border-radius: 5px;
  line-height: 35px;
  padding: 0 10px;
  text-decoration: none;
}
ul {
  list-style: none;
}
.box {
  background-color: white;
  box-shadow: 1px 3px 15px -6px rgba(0,0,0,0.34);
  border-radius: 5px;
}
/* HEADER */
/* NAV BAR */
.header-page .nav-bar:first-child {
  background-color: #F5F8FA;
  border-bottom: solid 1px #33475B;
}
.nav-bar li {
  display: inline-block;
  margin-right: 12px;
}
.nav-bar hr {
  display: inline;
  color: lightgrey;
  border: solid 1px;
  margin-right: 12px;
}
.nav-bar a {
  color: #33475B;
  text-decoration: none;
}
.nav-bar .right .log a{
  color: #FF7A59;
}
.nav-bar .right .button a {
  color: white;
}

.nav-bar .down,
.nav-bar .up {
  width: 60%;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  font-size: 14px;
  position: relative;
}
  /* NAV BAR UP */
/* NAV BAR UP LEFT */
.nav-bar .up .left {
  float: left;
}
.nav-bar .left li {
  line-height: 20px;
}

/* NAV BAR UP RIGHT */
.nav-bar .up .right {
  float: right;
}
.nav-bar .up .right .log {
  color: #FF7A59;
  border: 1px solid #FF7A59;
  border-radius: 5px;
  line-height: 35px;
  padding: 0 10px;
  background-color: white;
}
.nav-bar .up .right .log:hover {
  background-color: #F5F8FA;
}
.nav-bar .up .right i {
  color: lightblue;
  font-size: 14px;
  margin-right: 15px;
}

  /* NAV BAR DOWN */
/* NAV BAR DOWN LEFT*/
.nav-bar .down img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 28px;
}

/* NAV BAR DOWN RIGHT*/
.nav-bar .down .right {
  float: right;
  text-align: right;
}
.nav-bar .down .right a {
  text-decoration: none;
  color: #33475B;
  margin-left: 2px;
}

/* HEADER MAIN */
.header-main {
  height: 600px;
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* JAMBOTRON */
.jambo{
  width: 60%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}
.jambo .content {
  float: left;
  width: 40%;
  margin-top: 70px;
}

.jambo .content h1 {
  font-size: 52px;
}

.jambo .content h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 22px;
}

.jambo .content .button {
  font-size: 14px;
  display: inline-block;
  padding: 14px 42px;
  margin: 35px 0;
}

.jambo .content p {
  font-size: 12px;
}

/* INTERSPACE */
.interspace {
  height: 80px;
  background-color: #AFEBE4;
  border-top: solid 3px #33475B;
  border-bottom: solid 3px #33475B;
}

/* MAIN */
/* MAIN PRIMO BLOCCO */
.main-first {
  background-color: #F5F8FA;
  font-family: 'Roboto', sans-serif;
}
.hubspot:after {
  content: "";
  display: table;
  clear: both;
}
.hub:after {
  content: "";
  display: table;
  clear: both;
}
/* MAIN PRIMO BLOCCO POWERFUL */
.powerful {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 45px;
  width: 45%;
  margin: 0 auto;
  color: #33475B;
}
.powerful p {
  margin-top: 20px;
  line-height: 25px;
  font-size: 16px;
}
.powerful h2 {
  font-size: 28px;
}
/* MAIN PRIMO BLOCCO HUBSPOT */
.hubspot {
  width: 60%;
  margin: 0 auto;
  padding: 60px 110px;
}
.hubspot .left {
  float: left;
  width: 20%;
  line-height: 40px;
  margin-right: 70px;
}
.hubspot .left img {
  height: 120px;
  line-height: 160px;
}
.hubspot .button {
  padding: 14px 33px;
}
.hubspot .right {
  color: #33475B;
}
.hubspot .right h3{
  line-height: 50px;
  font-size: 22px;
}
.hubspot .right p {
  line-height: 22px;
  font-size: 14px;
}
.hubspot .right h4 {
  display: inline;
  line-height: 80px;
  font-size: 20px;
}
.hubspot .right hr {
  display: inline-block;
  margin-left: 70px;
  border: solid 1px lightgrey;
  width: 330px;
  vertical-align: middle
}
.hubspot .right li {
  display: inline;
  margin-right: 30px;
  list-style: url();
}
.hubspot .right i,
.boxhub i {
  color: #FF7A59;
  margin-right: 20px;
}
/* MAIN PRIMO BLOCCO HUB */
.hub {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 150px;
  text-align: center;
  color: #33475B;
}
.boxhub {
  padding: 16px;
  min-height: 470px;
}
.boxhub img {
  height: 120px;
}
.lefthub {
  float: left;
  width: 28%;
  margin-right: 8%
}
.centerhub {
  float: left;
  width: 28%;
  margin-right: 8%
}
.righthub {
  float: right;
  width: 28%;
}
.boxhub h3 {
  line-height: 60px;
  font-size: 22px
}
.boxhub p {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  min-height: 90px;
}
.boxhub hr {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}
.boxhub h4 {
  line-height: 65px;
  font-size: 18px;
}
.boxhub ul {
  text-align: left;
  padding-left: 25px;
  font-size: 14px;
  margin-bottom: 15px;
}
.boxhub a{
  display: inline-block;
  line-height: 40px;;
  margin-top: 30px;
}

/* MAIN SECONDO BLOCCO */
.main-second{
  height: 820px;
  background-image: linear-gradient(to right, #00A9B7, #00BCA6);
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.main-second .grow {
  padding-top: 110px;
  margin: 0 auto;
  width: 70%;
}
.main-second .grow h2 {
  font-size: 35px;
  line-height: 40px;
  padding-bottom: 35px;
}
.main-second .grow p {
  line-height: 25px;
  font-size: 16px;
}
.table::after {
  content: "";
  display: table;
  clear: both;
}
.table {
  margin: 0 auto;
  width: 70%;
  margin-top: 60px;
  padding: 50px;
}
.table .inside {
  width: 25%;
  float: left;
  line-height: 38px;
  padding: 35px;
}
.table .inside img {
  height: 33px;
}
.table .inside h2 {
  font-size: 38px;
}
.table .inside p {
  font-size: 14px;
}
.boarder-right {
  border-right: solid 1px white;
}
.boarder-up {
  border-top: solid 1px white;
}

/* MAIN TERZO BLOCCO */
/* MAIN TERZO BLOCCO SOPRA */
.main-third-up {
  font-family: 'Roboto', sans-serif;
  width: 55%;
  margin: 0 auto;
  color: #33475B;
  margin-top: 40px;
}
.main-third-up::after {
content: "";
display: table;
clear: both;
}
.main-third-up-left{
  float: left;
  text-align: left;
  width: 20%;
}
.main-third-up-left h2{
  line-height: 80px;
  font-size: 38px;
}
.main-third-up-left p {
  line-height: 28px;
}
.main-third-up-right{
  width: 80%;
  float: right;
  text-align: right;
}
.main-third-up-right img {
  width: 65%;
}
.logobox {
  width: 21%;
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
}

/* MAIN TERZO BLOCCO SOTTO */
.main-third-down {
  font-family: 'Roboto', sans-serif;
  width: 70%;
  margin: 0 auto;
  color: #33475B;
  margin-top: 60px;
  margin-bottom: 50px;
}
.main-third-down::after {
content: "";
display: table;
clear: both;
}

.main-third-down-left {
  float: left;
  width: 35%;
  margin-top: 70px;
}

.main-third-down-left h2 {
  font-size: 33px;
  font-weight: bold;
}

.main-third-down-left h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 22px;
}

.main-third-down-left .button {
  font-size: 14px;
  display: inline-block;
  padding: 14px 42px;
  margin: 35px 0;
}

.main-third-down-left p {
  font-size: 12px;
}
.main-third-down-right {
  float: right;
  width: 45%;
  text-align: right;
}
.main-third-down-right img {
  height: 360px;
}
/* FOOTER  */
/* FOOTER SOPRA */
.footer {
  background-color: #33475B;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
.footer a:hover {
  color: #00A9B9;
}
.footer-up::after {
  content: "";
  display: table;
  clear: both;
}
.footer-up {
  width: 70%;
  margin: 0 auto;
}

.footer-list {
  float: left;
  width: 25%;
  padding-top: 100px;
  line-height: 35px;
}

.footer-list a,
.languages a {
  font-size: 12px;
  text-decoration: none;
  color: #CBD6E2;
}

.footer-list .bold {
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.footer-list .button {
  background-color: white;
  color: #33475B;
  line-height: 55px;
  padding: 10px 5px;
  font-size: 12px;
}

.footer-list .button:hover {
  background-color: #EBEDEF;
}

.footer-list .social {
  letter-spacing: 8px;
}

.footer-list .social li{
  display: inline;
  font-size: 14px;
  color: #CBD6E2;
}

/* FOOTER SOTTO */
.footer-down {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.footer-down::after {
  content: "";
  display: table;
  clear: both;
}

.languages li {
  display: inline;
}

.languages {
  text-align: center;
  word-spacing: 14px;
}

.footer-down hr {
  border: 0;
  height: 0.5px;
  background-color: #CBD6E2;
  margin-top: 15px;
}

.footer-logo {
  float: left;
  padding: 40px 0px;
  width: 50%;
  margin: 0
}
.footer-logo p {
  line-height: 30px;
  font-size: 9px;
  color: #CBD6E2;
}

.footer-stuff {
  text-align: right;
  float: right;
  width: 30%;
  padding: 40px 0px;
}

.footer-stuff p {
  display: inline;
  text-align: right;
  line-height: 30px;
  font-size: 14px;
  padding-right: 30px;
}

.footer-stuff a {
  text-decoration: none;
  color: #CBD6E2;
}
